@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joker";
  src:
    url("/fonts/joker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-inknut-antiqua: "Inknut Antiqua", serif;
  --font-joker: "Joker", cursive;
}

body {
  font-family: var(--font-inknut-antiqua), serif;
}

.joker-font {
  font-family: var(--font-joker);
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  /* width: 8px; */
  display: none;
}

/* Customize the scrollbar for elements that have the .custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;      /* color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8B3A2D; /* color of the thumb */
  border-radius: 9999px;     /* roundness of the thumb */
  border: 2px solid #f5f5f5; /* creates padding around thumb */
}


.custom-price-box {
  background-color: white;
  color: #8B3A2D;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  text-align: center;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

/* Hover Effect */
.custom-price-box:hover {
  background-color: #8B3A2D;
  color: white;
}

/* Arrow */
.custom-price-arrow {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

/* Change arrow color on hover */
.custom-price-box:hover .custom-price-arrow {
  border-top-color: #8B3A2D;
}
