@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joker";
  src:
    url("/fonts/joker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-inknut-antiqua: "Inknut Antiqua", serif;
  --font-joker: "Joker", cursive;
}

body {
  font-family: var(--font-inknut-antiqua), serif;
}

.joker-font {
  font-family: var(--font-joker);
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  /* width: 8px; */
  display: none;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #575b61;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #EDF2F7;
} */